extends layout

block content
    h1#container

    script.
        getUserCoordinates();

    div#weatherContainer
        div#currentTemp
        div#currentCondition
        div#forecastListContainer
            ul#forecastList