extends layout

block content
    div#container

        script.
            getUserCoordinates();

        div#weatherContainer
            div#configContainer
                div#configDropdown
                    div#configButton
                        img(src='/images/config.png')
                    ul#configMenu
                        li
                            a(href='#') Item 1
                        li
                            a(href='#') Item 2
                        li
                            a(href='#') Item 3
                        li
                            a(href='#') Item 4
            div#currentInfoContainer
                div#currentTemp
                div#currentCondition
            div#forecastListContainer
                ul#forecastList