extends layout

block content
    div#container

        script.
            getUserCoordinates();

        div#weatherContainer
            div#configContainer
                div#configDropdown
                    div#configButton
                        img(src='/images/config.png')
                    ul#configMenu
                        li
                            a(href='#') Celsius
                        li
                            a(href='#') Fahrenheit
                        li
                            div(class='menuSeparator')
                        li
                            a(id='resetLocation' href='#' onclick='resetLocation()') Reset Location
            div#currentInfoContainer
                div#currentTemp
                div#currentCondition
            div#forecastListContainer
                ul#forecastList