html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #191919;
  color: #ffffff;
  //background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); // Clear Skies
  //background: linear-gradient(to bottom, #a3e6ff 0%, #afe5ff 30%, #d7d7d7 125%); // Snow
  //background: linear-gradient(to bottom, #ddddf5 0%, #999999 60%, #596a70 100%); // Cloudy
  //background: linear-gradient(to bottom, #00002a 0%, #200040 80%, #330053 100%); // Thunderstorm
  //background: linear-gradient(to bottom, #93cede 0%, #75bdd1 41%, #49a5bf 100%); // Drizzle
  //background: linear-gradient(to bottom, #3e8ebc 0%, #0082aa 25%, #5562a3 90%); // Rain
  //background-repeat: no-repeat;
  //background-attachment: fixed;
}

a {
  color: #00B7FF;
}

div#weatherContainer {
  display: none;
  margin-left: auto;
  margin-right: auto;

  ul#forecastList {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      width: 10%;
      min-height: 100px;
      vertical-align: middle;
      margin: 10em 3em 0;

      div {
        font-size: 3em;
      }
    }
  }

  div#currentTemp {
    font-size: 20em;
  }

  div#currentCondition {
    font-size: 5em;
  }
}

img {
  max-width: 100%;
}